<h1>Add a vehicle:</h1>

<form action="/vehicles" method="post">
  <div class="form-control">
    <label for="make">Vehicle's make:</label>
    <input id="make" name="make" type="text">
  </div>

  <div class="form-control">
    <label for="model">Vehicle's model:</label>
    <input id="model" name="model" type="text">
  </div>

  <div class="form-control">
    <label for="year">Vehicle's year:</label>
    <input id="year" name="year" type="text">
  </div>

  <div class="form-control">
    <label for="color">color</label>
    <input type="text" name="color">
  </div>

  <button type="submit" class="btn btn-submit">Add Vehicle</button>
</form>
